body {
    font-family: Arial, sans-serif;
}

#budgetTable {
    width: 100%;
    border-collapse: collapse;
}

#budgetList, #budgetTable th, #budgetTable td {
    border: 1px solid black;
}

#budgetTable th, #budgetTable td {
    padding: 8px;
    text-align: center;
}

#budgetTable th {
    background-color: #f2f2f2;
}

input[type="text"],
input[type="number"] {
    margin: 10px 5px;
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#budgetList div {
    margin-top: 10px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}
